<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GoHack | Hackthon travel planner</title>
    <link rel="stylesheet" href="css/bulma.css" />
    <link rel="stylesheet" href="css/bulma.css.map" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
    <header>
        <div class="hero is-bold is-medium gh-hero">
            <div class="gh-hero-background">
                <div id="map"></div>
            </div>
            <div class="hero-body has-text-centered">
                <img src="img/logo.png" class="gh-logo-hero" />
                <h3>Hackthon travel planner</h3>

                <div class="field">
                    <div class="control gh-loc-control">
                        <input id="location-input" class="input gh-loc-input" type="text" placeholder="Enter your location">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="section gh-branding gh-section-results">
        
    </div>

    <div class="container">
        <div id="gh-card-container" class="gh-card-container">

        </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANNoWpcaXbtXtxCOs5g0RSQfZpRqygsfw&libraries=places"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src='/js/gohack.js'></script>
    <script>
        // Mapbox
        mapboxgl.accessToken = 'pk.eyJ1Ijoib3JrYW5uYSIsImEiOiJjaWsydDI4c3MwMzBteDRtNTJxZDB0ZWZwIn0.nM8qc55baG5ZVcZgZKJ_Fg';
        var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/orkanna/cjfpjff7r0gpg2sll20wlc7p4'
        });
        
        var market = "";
        var geoString = "EDI";
        var rawLocations = [];

        var updatePrices = () => {
            // Set all buttons up
            $('.gh-price').addClass('is-loading');
            $('.gh-price').html('Loading');
            $('.gh-price').prop("disabled", false);

            // Update the prices
            function getNext(i) {
                if (i >= rawLocations.length) return;
                console.log(rawLocations);
                getQuotes(market, geoString, rawLocations[i].geoString, rawLocations[i].start_date.year + '-' + rawLocations[i].start_date.month + '-' + rawLocations[i].start_date.day, rawLocations[i].end_date.year + '-' + rawLocations[i].end_date.month + '-' + rawLocations[i].end_date.day, (raw) => {
                    console.log(raw);
                    var json = JSON.parse(raw);
                    
                    $('#gh-price-button-' + i).removeClass('is-loading');
                    var minprice = Infinity;
                    for (var j = 0; j < json.length; j++) {
                        if (json[j].MinPrice < minprice) minprice = json[j].MinPrice;
                    }
                    $('#gh-price-button-' + i).html('Fly from £' + minprice);
                    getNext(i + 1);
                });
            }
            getNext(0);
        };

        // Google GeoLocation setup
        var input = document.getElementById('location-input');
        autocomplete = new google.maps.places.Autocomplete(input);
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            latitude = place.geometry.location.lat();
            longitude = place.geometry.location.lng();
            
            map.flyTo({center: [longitude, latitude], zoom: 9});

            // Get the country code
            var country = "";
            place.address_components.forEach(element => {
                if (element.types.includes("country")) {
                    country = element.short_name;
                }
            });
            if (country === "" || country === "GB") country = "UK"; // Just incase demo goes bad!
            market = country;

            getGeoString(country, place.name, geoString => {
                geoString = geoString;
                console.log(geoString);
                if (geoString == "" || geoString == "{}") geoString = "EDI"; 
                updatePrices();
            });
        });
    
        function getHackathonTemplate(hackathon) {
            return `<div id="gh-card-${hackathon.id}" class="gh-card">
                <div class="gh-card-hero" style="background-image: url('${hackathon.splash}')"></div>
                <div class="gh-card-logo" style="background-image: url('${hackathon.logo}')"></div>
                <div class="gh-card-title">${hackathon.title}</div>
                <div class="gh-card-location">${hackathon.address_local}, ${hackathon.address_region}</div>
                <div class="gh-card-date">${hackathon.date}</div>
                <div class="gh-card-price"><a class="button is-info is-rounded gh-price" id="gh-price-button-${hackathon.id}" disabled>Enter your location for price</a></div>
            </div>`;
        }

        function updateLocations(locations) {
            rawLocations = JSON.parse(locations).hackathons;
            var container = $('#gh-card-container');
            container.html('');
            console.log(rawLocations);
            for (var i = 0; i < rawLocations.length; i++) {
                rawLocations[i].id = i;
                if (!rawLocations[i].start_date) {
                    rawLocations[i].start_date = {
                        day: '17',
                        month: '05',
                        year: '2018'
                    }
                }
                if (!rawLocations[i].end_date) {
                    rawLocations[i].end_date = {
                        day: '20',
                        month: '05',
                        year: '2018'
                    }
                }
                if (!rawLocations[i].geoString) {
                    rawLocations[i].geoString = "PARI-sky"
                }
                container.append(getHackathonTemplate(rawLocations[i]));
            }
        }

        getLocations(updateLocations);
        
    </script>
</body>
</html>