<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GoHack | Hackthon travel planner</title>
    <link rel="stylesheet" href="css/bulma.css" />
    <link rel="stylesheet" href="css/bulma.css.map" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
    <div id="main-map"></div>
    
    <div id="gh-over">
        <header>
            <div class="hero is-bold is-medium gh-hero">
                <div class="gh-hero-background">
                    <div id="map"></div>
                </div>
                <div class="hero-body gh-hero-foreground has-text-centered">
                    <img src="img/logo.png" class="gh-logo-hero" />
                    <h3>Hackthon travel planner</h3>
    
                    <div class="field">
                        <div class="control gh-loc-control">
                            <input id="location-input" class="input gh-loc-input" type="text" placeholder="Enter your location">
                        </div>
                    </div>
                </div>
            </div>
        </header>
    
        <div class="section gh-branding gh-section-results has-text-centered">
            <div class="container">
                <img src="/img/skyscanner.png" style="height: 96px;">
            </div>
        </div>
    
        <div class="container">
            <div id="gh-card-container" class="gh-card-container">
                
            </div>
        </div>
    </div>

    <div id="gh-overlay-card" class="gh-card">
        
    </div>

    <a class="button is-info gh-back">&lt; Back to results</a>

    <div id="gh-overlay-prices" class="gh-card" style="position: fixed;left: 10px;top: 396px;height: 384px;width: 309.109px;">
        <ul id="gh-quotes">
        </ul>
    </div>
    

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANNoWpcaXbtXtxCOs5g0RSQfZpRqygsfw&libraries=places"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src='/js/gohack.js'></script>
    <script>
        // Mapbox
        mapboxgl.accessToken = 'pk.eyJ1Ijoib3JrYW5uYSIsImEiOiJjaWsydDI4c3MwMzBteDRtNTJxZDB0ZWZwIn0.nM8qc55baG5ZVcZgZKJ_Fg';
        var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/orkanna/cjfpjff7r0gpg2sll20wlc7p4'
        });

        var mainMap = new mapboxgl.Map({
        container: 'main-map',
        style: 'mapbox://styles/orkanna/cjfpjff7r0gpg2sll20wlc7p4'
        });
        
        var market = "";
        var geoString = "EDI";
        var rawLocations = [];

        var operators = {};
        var places = {};

        var updatePrices = () => {
            // Set all buttons up
            $('.gh-price').addClass('is-loading');
            $('.gh-price').html('Loading');
            $('.gh-price').attr("disabled", false);

            // Update the prices
            function getNext(i) {
                if (i >= rawLocations.length) return;
                var dayStart = rawLocations[i].start_date.day;
                var dayEnd = rawLocations[i].end_date.day;
                if (dayStart.length == 1) dayStart = '0' + dayStart;
			    if (dayEnd.length == 1) dayEnd = '0' + dayEnd;

                var outboundDate = rawLocations[i].start_date.year + '-' + rawLocations[i].start_date.month + '-' + dayStart;
                var inboundDate = rawLocations[i].end_date.year + '-' + rawLocations[i].end_date.month + '-' + dayEnd;
                
                getQuotes(market, geoString, rawLocations[i].geoString, outboundDate, inboundDate, (raw) => {
                    var json = JSON.parse(raw);

                    // Parse carriers and places
                    json.Places.forEach(function(place) {
                        places[place.PlaceId] = place.Name;
                    });

                    json.Carriers.forEach(function(carrier) {
                        operators[carrier.CarrierId] = carrier.Name;
                    });
                    
                    $('#gh-price-button-' + i).removeClass('is-loading');
                    rawLocations[i].quotes = json.Quotes;
                    var minprice = Infinity;
                    for (var j = 0; j < json.Quotes.length; j++) {
                        if (json.Quotes[j].MinPrice < minprice) minprice = json.Quotes[j].MinPrice;
                    }
                    $('#gh-price-button-' + i).html('Fly from £' + minprice);
                    getNext(i + 1);
                });
            }
            getNext(0);
        };

        // Google GeoLocation setup
        var input = document.getElementById('location-input');
        autocomplete = new google.maps.places.Autocomplete(input);
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            latitude = place.geometry.location.lat();
            longitude = place.geometry.location.lng();
            
            map.flyTo({center: [longitude, latitude], zoom: 9});

            // Get the country code
            var country = "";
            place.address_components.forEach(element => {
                if (element.types.includes("country")) {
                    country = element.short_name;
                }
            });
            if (country === "" || country === "GB") country = "UK"; // Just incase demo goes bad!
            market = country;

            getGeoString(country, place.name, geoString => {
                geoString = geoString;
                if (geoString == "" || geoString == "{}") geoString = "EDI"; 
                updatePrices();
            });
        });

        function getDateStr(num) {
            switch (num) {
                case '01': return 'January';
                case '02': return 'Febuary';
                case '03': return 'March';
                case '04': return 'April';
                case '05': return 'May';
                case '06': return 'June';
                case '07': return 'July';
                case '08': return 'August';
                case '09': return 'September';
                case '10': return 'October';
                case '11': return 'November';
                case '12': return 'December';
            }
        }
    
        function getHackathonTemplate(hackathon) {
            return `<div id="gh-card-${hackathon.id}" class="gh-card">
                <div class="gh-card-hero" style="background-image: url('${hackathon.splash}')"></div>
                <div class="gh-card-logo" style="background-image: url('${hackathon.logo}')"></div>
                <div class="gh-card-title">${hackathon.title}</div>
                <div class="gh-card-location">${hackathon.address_local}, ${hackathon.address_region}</div>
                <div class="gh-card-date">${getDateStr(hackathon.start_date.month)} ${hackathon.start_date.day}-${hackathon.end_date.day} ${hackathon.start_date.year}</div>
                <div class="gh-card-price"><a class="button is-info is-rounded gh-price" id="gh-price-button-${hackathon.id}" onclick='return openMapWithButton(${hackathon.id});' disabled>Enter your location for price</a></div>
            </div>`;
        }

        function getFlightTemplate(flight) {
            return `<li class="gh-flight" style="
    border-bottom: #eee 2px solid;
    padding: 20px;
    text-align: left;
">
    <div style="display: inline-block">
        
    <div class="gh-flight-fromto">${places[flight.OutboundLeg.OriginId]} - ${places[flight.OutboundLeg.DestinationId]}</div>
    <div class="gh-flight-operator" style="
    font-size: 14px;
">${operators[flight.OutboundLeg.CarrierIds[0]]}</div>
    <div class="gh-flight-date" style="
    display: inline-block;
    font-size: 12px;
    /* margin-top: -11px; */
">${new Date(flight.OutboundLeg.DepartureDate).toDateString()}</div>
    <div class="gh-flight-time" style="
    display: inline-block;
    font-size: 12px;
">${new Date(flight.OutboundLeg.DepartureDate).toTimeString()}</div>

    </div>
    <div class="gh-flight-price" style="float: right;"><a class="button is-info is-rounded">£45</a></div>
</li>`;
        }

        function openMapWithButton(hackathon) {
            transitionToMap($('#gh-card-' + hackathon));
            console.log("HT", hackathon)
            
            var dayStart = rawLocations[hackathon].start_date.day;
            var dayEnd = rawLocations[hackathon].end_date.day;
            if (dayStart.length == 1) dayStart = '0' + dayStart;
            if (dayEnd.length == 1) dayEnd = '0' + dayEnd;

            var outboundDate = rawLocations[hackathon].start_date.year + '-' + rawLocations[hackathon].start_date.month + '-' + dayStart;
            var inboundDate = rawLocations[hackathon].end_date.year + '-' + rawLocations[hackathon].end_date.month + '-' + dayEnd;

            // Pressed da button and already in map view???
            if (window.location.hash == "#map") {
                // Ayy
                console.log("going...")
                getReferralLink(market, geoString, rawLocations[hackathon].geoString, outboundDate, inboundDate).then(function(link) {
                    window.location.href = link; // Redirect
                    console.log(" gone")
                });
            }

            // fuck it we're map view now
            window.location.hash = "map"

            var el = $("#gh-quotes");
            el.html('');

            rawLocations[hackathon].quotes.forEach(function(quote) {
                el.append(getFlightTemplate(quote));
            });

        }

        function updateLocations(locations) {
            rawLocations = JSON.parse(locations).hackathons;
            var container = $('#gh-card-container');
            container.html('');
            for (var i = 0; i < rawLocations.length; i++) {
                rawLocations[i].id = i;
                if (!rawLocations[i].start_date) {
                    rawLocations[i].start_date = {
                        day: '17',
                        month: '05',
                        year: '2018'
                    }
                }
                if (!rawLocations[i].end_date) {
                    rawLocations[i].end_date = {
                        day: '20',
                        month: '05',
                        year: '2018'
                    }
                }
                if (!rawLocations[i].geoString) {
                    rawLocations[i].geoString = "PARI-sky"
                }
                container.append(getHackathonTemplate(rawLocations[i]));
            }
        }

        function transitionToMap(element) {
            // Get element pos
            var rect = element[0].getBoundingClientRect();

            var nEl = $('#gh-overlay-card');

            element.css('visibility', 'hidden');

            nEl.html(element.html());

            nEl.css('display', 'block');
            nEl.css('position', 'fixed');
            nEl.css('left', rect.left);
            nEl.css('top', rect.top);
            nEl.css('height', rect.height);
            nEl.css('width', rect.width);
            $('#gh-overlay-prices').css('width', rect.width);
            nEl.animate({
                left: 10,
                top: 0
            }, 1000, function() {
                element.css('visibility', 'visible');
                $('.gh-back').fadeIn();
                $('#gh-overlay-prices').fadeIn();
            });
            $('#gh-over').fadeOut();
        }

        function closeMap() {
            window.location.hash = ""

            var nEl = $('#gh-overlay-card');
            nEl.html('');
            nEl.css('display', 'none');
            $('#gh-over').fadeIn();
            $('.gh-back').fadeOut();
            $('#gh-overlay-prices').fadeOut();
        }

        $('.gh-back').click(closeMap);

        getLocations(updateLocations);
        
    </script>
</body>
</html>