/* Style.css - Custom styles */

#gh-over {
    background-color: #fff;
}

.gh-branding {
    background-color: #009CE0;
    padding: 0;
}

.gh-logo-hero {
    height: 120px;
}

.gh-hero-background {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 0;
    height: 514px;
    overflow: hidden;
    opacity: 0.5;
    filter: grayscale()
}

.gh-hero-foreground {
    z-index: 100;
}

#map {
    width: 100%;
    height: 100%;
}

#main-map {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1000;
}

.gh-loc-control {
    text-align: center;
    margin-top: 30px;
}

.gh-loc-input {
    max-width: 500px;
    margin: auto;
    font-size: 20px;
}

.gh-flight-info {
    max-width: 180px;
}


/* Cards */
.gh-card {
    background-color: #fff;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    outline: none;
    min-width: 200px;
    max-width: 500px;
    width: 100%;
    float:left;
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}
.gh-card-container {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0%;
}

@media only screen and (max-width: 800px) {
    .gh-card {
        margin: 20px auto;
    }
}

@media only screen and (min-width: 800px) {
    .gh-card-container {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 5%;
        margin-left: 5%;
    }
}

@media only screen and (min-width: 1000px) {
    .gh-card-container {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-gap: 3%;
        margin-left: 3%;
    }
}

@media only screen and (min-width: 1200px) {
    .gh-card-container {
        display: grid;
        grid-template-columns: 23% 23% 23% 23%;
        grid-gap: 2%;
        margin-left: 2%;
    }
}



.gh-back {
    position: fixed;
    top: 30px;
    left: 20px;
    z-index: 9999;
    font-size: 14px;
    display: none;
}

.gh-card-hero {
    background-size: cover;
    height: 200px;
}

.gh-card-logo {
    border: solid 9px #fff;
    background-size: cover;
    border-radius: 100%;
    margin: auto;
    width: 80px;
    height: 80px;
    margin-top: -40px;
}

.gh-card-title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    font-family: 'Titillium Web', sans-serif;
}

.gh-card-price {
    margin-top:10px;
    text-align: center;
    color: #009CE0;
}

#gh-overlay-card {
    display: none;
    z-index: 1000;
}

#gh-overlay-prices {
    z-index: -100;
    display: none;
}

.gh-marker {
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 100%;
    border: solid 5px #fff;
}